.a
{
	position: relative;
}
.a
{
	position: relative;
}
#centro {
width: 50%;
padding: 5px

}
#tabla {
width: 50%;
padding: 5px

}	
#center
{
width: 50%;
padding: 5px

}	
#tables {
width: 50%;
padding: 5px
{

}
#abajo{
width: 50%;
padding: 5px



